img {
  border-radius: 50%;
  width: 300px;
}

hr {
    /*background-color: white;*/
  border-style: dotted none none;
  /*height: 2px; */
  width: 100%;
}

header {
    width: 100%;
    background: #c0684b;
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.logo {
    font-size: 20px;
    font-weight: 600;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    transition: 0.3s ease;
}

.nav-links li a:hover {
    opacity: 0.7;
}

.hamburger {
    display: none;
    font-size: 26px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .nav-links {
        position: absolute;
        top: 60px;
        right: 0;
        background: #c0684b;
        width: 100%;
        flex-direction: column;
        padding: 15px 0;
        gap: 20px;
        text-align: center;
        display: none;
    }

    .nav-links.active {
        display: flex;
    }

    .hamburger {
        display: block;
    }
}

html {
    scroll-behavior: smooth;
}

section {
    padding-top: 70px;
}

body {
    background-color: #f7d4be;
}

.text-border {
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 1px #000000; /* ความหนา + สีเส้นกรอบ */
}